<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home_module:home' %}">Home</a>

        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'contactus_module:user-register' %}">register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'contactus_module:user-login' %}">login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'contactus_module:user-logout' %}">logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>